@{
    ViewData["Title"] = "Students";

}
<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>
<ul>
    <li><a href =" /Student/Details/1">Student 1</a></li>
    <li><a href =" /Student/Details/2">Student 2</a></li>
    <li><a href =" /Student/Details/3">Student 3</a></li>
    <li><a href =" /Student/Details/4">Student 4</a></li>

</ul>
