@section PageActions {
    <div style="background: #f0f0f0; padding: 8px; margin-bottom: 10px;">
        <a asp-controller="Student" asp-action="Details" asp-route-id="1">
            View
            Student 1
        </a>
    </div>
}
@model List<string>

@{
    ViewData["Title"] = "Students";
}

<h2>@ViewBag.Title</h2>
<p><em>@ViewData["SubTitle"]</em></p>

@if (Model != null && Model.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>SL</th>
                <th>Name</th>
            </tr>
        
            
            @for(int i=0; i<Model.Count; i++)
            {
                <tr>
                    <td>@i</td>
                    <td>@Model[i]</td>
                </tr>
            }
            
        
    </table>
}
else
{
    <p>No students found.</p>
}